
.address__wrapper
  .address__header
    =link_to root_path do
      = image_tag 'fmarket_logo_red.svg', class: "fmarket__header"
  %nav.progress
    %ul.progress-bar
      %li.through#through
        会員情報
        .progress-status
        .progress-status_bar
      %li.active#active
        電話番号認証
        .progress-status
        .progress-status_bar
      %li.address#address
        お届け先住所入力
        .progress-status
        .progress-status_bar
      %li.payment#payment
        支払い方法
        .progress-status
        .progress-status_bar
      %li.end#end
        完了
        .progress-status
        .progress-status_bar

  .start__body
    .start__body__content
      .sign__content__1
      %h1 会員登録完了
      .sign__content__2
      %p ありがとうございます。
      %p 会員登録が完了しました。
    .address__start
      = button_to "メルカリをはじめる", root_path, method: :get, class: "member__mail"

  .member__footer
    .member__footer__content
      .member__footer__content__h
        = image_tag 'logo_gray.svg', class: "meru__image__h"
      %span.member__foot__h
        © Me*ca*i, Inc.