<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Animals</title>
</head>
<body>

  <div class="mypage-main">
    <div class="mypage-main__body">

      <section class="mypage-main__body__top">
        <a href="">
          <p>ユーザー名</p>
          <P>評価　出品数</P>
        </a>

      </section>

      <section class="mypage-main__body__news">
          <ul Class="mypage-main__body__news__tabs">
            <li class="active">
              <h3>
                <a class="swich-tab" href="">お知らせ</a>
              </h3>
            </li>
            <li>
              <h3>
                <a class="swich-tab" href="">やることリスト</a>
              </h3>
            </li>
          </ul>
          <div class="mypage-main__body__news__tab-content">
            <ul class="mypage-main__body__news__tab-content__lists active">
              <li class="mypage-main__body__news__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__news__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__news__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__news__tab-content__lists__go-list">
                  <a href="">一覧を見る</a>
              </li>
            </ul>
            <ul class="mypage-main__body__news__tab-content__lists">
              <li class="mypage-main__body__news__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__news__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__news__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__news__tab-content__lists__go-list">
                <a href="">一覧を見る</a>
            </li>
            </ul>
          </div>
      </section>

      <section class="mypage-main__body__items">
        <h2 class="mypage-main__body__items__head">購入した商品</h2>
        <ul Class="mypage-main__body__items__tabs">
            <li class="active">
              <h3>
                <a class="swich-tab" href="">取引中</a>
              </h3>
            </li>
            <li>
              <h3>
                <a class="swich-tab" href="">過去の取引</a>
              </h3>
            </li>
          </ul>
          <div class="mypage-main__body__items__tab-content">
            <ul class="mypage-main__body__items__tab-content__lists active">
              <li class="mypage-main__body__items__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__items__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__items__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__items__tab-content__lists__go-list">
                  <a href="">一覧を見る</a>
              </li>
            </ul>
            <ul class="mypage-main__body__items__tab-content__lists">
              <li class="mypage-main__body__items__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__items__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__items__tab-content__lists__list">
                <a href=""></a>
              </li>
              <li class="mypage-main__body__items__tab-content__lists__go-list">
                <a href="">一覧を見る</a>
            </li>
            </ul>
          </div>
      </section>

    </div>
  </div>

</body>
</html>