.confirmation-body
  .confirmation-body__header
    = image_tag 'fmarket_logo_red.svg', class: "fmarket__header"
  .confirmation-body__container

    .confirmation-body__container__main
      %section.confirmation-body__container__main__section
        %h2.confirmation-body__container__main__section__top
          購入が完了しました！

        %section.confirmation-body__container__main__section__middle
          .confirmation-body__container__main__section__middle__out
            .confirmation-body__container__main__section__middle__out__in

              = link_to root_path(current_user.id), class: "top__page__link" do
                TOPページへ戻る
  
  .confirmation-body__card

  .confirmation-body__container__footer
    = render partial: "users/policy"  


