#login_signup {
  background-color: #0099e8;
  margin-bottom: 10px;
  width: 320px;
  height: 44px;
  
}

.login_social_botton {
  width: 320px;
  height: 44px;
}

#login_title {
  padding: 0;
  margin: 0;
  font-size: 14px;
  padding-top: 30px;
}

.login_border {
  border-top: 1px solid #eee;
  padding-top: 30px;
}

.login_textform {
  margin: 10px;
}

#login_sosial_space {
  padding-bottom: 40px;
}

#login_form_body {
  height: auto;
}

.login_forget {
  color: #0099e8;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-right: 160px;
}

.login_forget_box {
  padding: 30px;
}

.rechaptcha {
  padding-left: 190px;
  margin: 10px 0;
}

//以下phone_number_form

#phone_number_form {
  font-size: 15px;
  padding-left: 15px;
}

.phone_number_text {
  font-size: 14px;
  display: block;
  width: 320px;
  margin-left: 190px;
  text-align: left;
  margin-bottom: 40px;
  padding-top: 10px;
}

#phone_number_font1 {
  font-weight: 600;
  padding-top: 60px;
  margin-bottom: 0;
}

.phone_number_botton {
  background-color: rgb(240, 29, 29);
  color: #fff;
  width: 320px;
  height: 44px;
  border-radius: 5px;
  display: block;
  line-height: 44px;
  margin-left: 190px;
}

#phone_number_reason {
  color: #0099e8;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  display: block;
  padding-bottom: 60px;
  margin-left: 120px;
}