.profile__body {
  width: 700px;
  float: right;
  margin: 40px 200px auto auto;
  &__section {
    background: #fff;
    &__title {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      line-height: 1.4;
      margin: 0;
    }
    &__form {
      &__top {
        background-color: lightcoral;
        padding: 72px 16px 24px;
        background-size: cover;
        text-align: center;
        font-size: 0;
        &__figure {
          display: inline-block;
          overflow: hidden;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          vertical-align: middle;
          margin: 0;
          &__img {
          }
        }
        &__input {
          width: 220px;
          margin: 0 0 0 8px;
          vertical-align: middle;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      &__down {
        padding: 40px 16px;
        &__textarea {
          min-height: 216px;
          display: block;
          width: 100%;
          max-width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
        &__button {
          margin: 16px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          text-align: center;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
        }
      }
    }
  }
}