

.category_list.none {
  float: left;
  display: none;
  
}

.category_list {

  z-index: 1;
  position: absolute;
  top: 44px;
  left: 5px;
  display: flex;
  z-index: 200;
}

.parents_list {
  width: 250px;
  font-size: 15px;

  
}

.children_list {
  width: 250px;
  font-size: 15px;
}

.grand_children_list {
  width: 250px;
  font-size: 15px;

}

.parent_category {
  background-color: white;
  display: block;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
}

.child_category {
  background-color: white;
  display: block;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
}

.grand_child_category {
  background-color: white;
  display: block;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
}

.head {
  position: relative;
}

.now-selected-red {
  background-color: red;
  color: white;
}

.now-selected-gray {
  background-color: #eee;;
}

.gc-now-selected-gray {
  background-color: #eee;;
}
