<div class="body">
  <div id="app">
    <header class="head">
      <div class="head__wrapper">
        <div class="head__top">
          <a href="" class="head__top__logo">
            <%= image_tag 'fmarket_logo_red.svg', class: "head__top__logo__img" %>
          </a>
          <form class="head__top__form">
            <input type="search" name="word-search" class="head__top__form__search" placeholder="何かお探しですか？">
            <button class="head__top__form__btn">
              <i class="fab fa-sistrix fa-2x"></i>
            </button>
          </form>
        </div>        
        <div class="head__bottom">
          <div class="head__bottom__left">
            <div class="head__bottom__left__category">
              <a href="" class="head__bottom__category__link">
                 <i class="fas fa-bars fa-spin"></i> カテゴリーから探す
              </a>
            </div>
            <div class="head__bottom__left__brand">
              <a href="" class="head__bottom__brand__link">
                <i class="fas fa-tags fa-spin"></i> ブランドから探す
              </a>
            </div>
          </div>
          <div class="head__bottom__right">
            <div class="head__bottom__right__sign">
              <a href="#" class="left__btn">
                新規会員登録
              </a>
            </div>
            <div class="head__bottom__right__rogin">
              <a href="#" class="right__btn">
                ログイン
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="items">
      <div class="items__wrapper">
        <div class="items__scroll">
          <a href="">
            スクロール
          </a>
          <div class="slide">
            <div class="slide__content">
              <ul class="slide__content__tag">
                <li class="slide__content__tag__list">
                  <a href="" class="slide__link">
                    <div clas="slide">
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="slide__content__left">
              <div class="slide__content__left__arrow">
              </div>
            </div>
            <div class="slide__content__right">
              <div class="slide__content__right__arrow">
              </div>
            </div>
            <div class="slide__position">
              <div class="slide__position__item">
                <span class="slide__position__item__icon">
                </span>
              </div>
            </div>
            <style>
            </style>
          </div>
        </div>
        <div class="items__category">
          <h2>人気のカテゴリー</h2>
          <div class="item">
            <ul class="item__tag">
              <li clss="item__tag__list">
                <a href="#" class="item__tag__list__link">釣具</a>
                <a href="#" class="item__tag__list__link">車</a>
                <a href="#" class="item__tag__list__link">ゲーム・ホビー</a>
                <a href="#" class="item__tag__list__link">家電・スマホ</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="category">
          <div class="category__items">
            <div class="category__items__title">
              <h3 class="category__items__title__type">
                レディース新着アイテム
              </h3>
              <a href="" class="category__items__title__link">
                もっと見る <i class="fas fa-chevron-right"></i>
              </a>
            </div>
            <div class="category__items__contents">
              <div class="category__items__contents__tag">
                <ul class="products">
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="https://img2.finalfantasyxiv.com/accimg/98/25/9825294afbe5583524d3ab02e98a90be8cf5f053.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="https://www.famitsu.com/images/000/173/758/z_5c9873cb27948.jpg">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="https://www.famitsu.com/images/000/173/758/z_5c9873cb382ea.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="コルニ.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="https://img2.finalfantasyxiv.com/accimg/98/25/9825294afbe5583524d3ab02e98a90be8cf5f053.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="コルニ.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="コルニ.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="コルニ.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="コルニ.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product__style">
                      <a href="#" class="product__link">
                        <div class="product__link__item">                    
                          <div class="product__item__details">
                            <span class="product__item__details__price">
                              20$
                            </span>
                            <img src="コルニ.jpg" alt="" class="product__item__details__img">
                          </div>
                          <div class="product-wrapper">
                            <span class="product-name">
                              ぽけもん
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="camera">
    </div>
    <aside class="aside">
      <div class="bottom">
        <div class="bottom__content">
          <div class="bottom__content__left">
            <div class="bottom__content__left__message">
              スマホでも難しいフリマアプリ
            </div>
            <div class="bottom__content__left__text">
              今すぐ有料ダウンロード！
            </div>
            <div class="bottom__logo">
              <%= image_tag 'logo_red.svg', class: "bottom__logo__merucari" %>
              <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" class="bottom__logo__apple">
                <img src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" alt="" class="bottom__logo__apple__img">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" class="bottom__logo__google">
                <img src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" alt="" class="bottom__logo__google__img">
              </a>
            </div>
          </div>
          <div class="bottom__content__right">
            <img src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png" alt="" class="bottom__content__right__img">
          </div>
        </div>
      </div>
    </aside>
    <footer class="foot">
      <div class="foot__top">
        <div class="company">
          <h2 class="company__merucari">
            メル○リについて
          </h2>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                会社概要（運営会社）
              </a>
            </li>
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                採用情報
              </a>
            </li>
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                プレスリリース
              </a>
            </li>
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                公式ブログ
              </a>
            </li>
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                メル○リロゴ利用ガイドライン
              </a>
            </li>                   
            <a href=""  class="company__tag__twitter">
              <i class="fab fa-twitter fa-3x"></i>
            </a>
            <a href="" class="company__tag__face-book">
              <i class="fab fa-facebook-square fa-3x"></i>
            </a>
          </ul>
        </div>
        <div class="company">
          <h2 class="company__merucari">ヘルプ＆ガイド</h2>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                メル○リガイド
              </a>
            </li>
          </ul>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                らくらくメル○リ便
              </a>
            </li>
          </ul>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                ゆうゆうメル○リ便
              </a>
            </li>
          </ul>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                大型メル○リ便
              </a>
            </li>
          </ul>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                車体取引ガイド
              </a>
            </li>
          </ul>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                メル○リあんしん・あんぜん宣言！
              </a>
            </li>
          </ul>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                偽ブランド品撲滅への取り組み
              </a>
            </li>
          </ul>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                メル○リボックス
              </a>
            </li>
          </ul>
        </div>
        <div class="company__privacy">
          <h2 class="company__privacy__text">
            プライバシーと利用規約
          </h2>
          <div class="company__privacy__policy">
            <ul class="conpany__tag">
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  プライバシーポリシー
                </a>
              </li>
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  メル○リ利用規約
                </a>
              </li>
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  あんしんスマホサポート制度に関する利用特約
                </a>
              </li>
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  コンプライアンスポリシー
                </a>
              </li>
            </ul>
          </div>
          <div class="company__privacy__data">
            <ul class="conpany__tag">
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  個人データの安全管理に係る係る基本方針
                </a>
              </li>
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  特定商取引に関する表記
                </a>
              </li>
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  資金決済方法に基基づく表示
                </a>
              </li>
              <li class="company__tag__list">
                <a href="" class="company__tag__list__link">
                  法令遵守と犯罪抑止のために
                </a>
              </li>
            </ul>
          </div>
        </div>       
        <div class="company">
          <h2 class="company__merucari">
            国
          </h2>
          <ul class="conpany__tag">
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                日本
              </a>
            </li>
            <li class="company__tag__list">
              <a href="" class="company__tag__list__link">
                United States
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="foot__bottom">
        <a href="" class="foot__bottom__link">
          <%= image_tag 'logo_gray.svg', class:"foot__bottom__link__img" %>
        </a>
        <span class="foot__bottom__text">  
          © Me*ca*i, Inc.
        </span>
      </div>
    </footer>
  </div>
</div>
